body{
    background-image: url('https://img.freepik.com/free-vector/red-movie-theater-seats-with-curtains-background_1017-38388.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}


